extends layout
block content
	h1= title
	p Welcome to #{title}
	form(action="/", method="POST")
		input(name="ItemToSubmit", type="text", placeholder="Enter item name here")
		input(name="priceToSubmit", type="text", placeholder="Enter price for the item above")
		button(type="submit") Submit